<div class="row">
  <div class="col-md-12">
    <h2 style="text-align:left; font-size:20px;"><span class="heading">How to login into this specific Web App - [2018 MAY]</span></h2>
    <p class="paragraph">
      Hello, and welcome to your favaurite web app hacks tutorial. Today, I am going to show you how to login this Web App and
      explore more nice feautures it comes with. You can't see them if you are not logged in so, to make things easy for you I will
      just put it <a href="#">here <em>(Username : Admin | Password : admin-321)</em></a>. All you have to do now is simply copy
      and paste or type it out and login.
    </p>
  </div>
</div>
