<div class="row">
  <div class="col-md-12">
    <h2 style="text-align:left; font-size:20px;"><span class="heading">Who we are | Whate we do</span></h2>
    <p class="paragraph">
      <strong>Exhorbi Enterprise Consult</strong> is headquartered in Delft South, Cape Town. We are a multi
      disciplinary consultancy
      group
      specializing in advising organizations across the private, public, and social sectors on strategic
      management.
    </p>
  </div>
</div>