<div class="row">
  <div class="col-md-12">
    <div class="col-sm-12">
      <h3 style="margin: 30px;" style="font-weight: bold; font-size: 18px;">Because Projectcodex</h3>
      <a href="#" class="thumbnail thumbnail-blog">
        <img src="/img/blog/pic4w.png" alt="blog_pic">
      </a>
      <p class="paragraph">
          <br>
          <span class="blog-paragraph">
            Some Text
        </em>

        <br>
      </p>
      <hr>
      <h5 class="subtagHeadings"><em><strong>Authour</strong> - Mafanga Lolito</em> </h5>
      <h5 class="subtagHeadings"><em><strong>Date</strong> - May-2018</em> </h5>
      <hr>
    </div>
    <div class="col-sm-12">
      <h3 style="margin: 30px;"><em>Favourite Quote</em></h3>
      <p class="paragraph quote-paragraph">
        <em><span style="font-size: 40px; font-family: sans; color: #7a777a; ">"</span>
          <br>
          <span class="sub-tag-span-quote">
            The process of falling in love and the process of being a happy person are completely separate from each other.
            You can be happy without Love, and you can Love someone without being happy. And try to understad Love for what it truly is,
            it's a tool, it's an extreme feeling that is needed to temporarily convince perfectly rational beings to do the most
            irational thing they can ever do in their lives.
        </em>

        <br>

        <em>
          <span style="font-size: 40px; font-family: sans; color: #7a777a;">"</span>
        </em>
        <h5><em> - Schopenhauer </em></h5>
      </p>
      <hr>
      <h5 class="subtagHeadings"><em><strong>Authour</strong> - Mafanga Lolito</em> </h5>
      <h5 class="subtagHeadings"><em><strong>Date</strong> - May-2018</em> </h5>
      <hr>
    </div>
  </div>
</div>
