{{#if messages.info}}
<div class="message">
  {{messages.info}}
</div>
{{/if}}

<div class="row">

  <div class="col-sm-6">
    <h1 style="font-size:28px;"><span class="heading">Contact</span></h1>

    <div class="contact-details">

      <ul class="contact-us">
        <li>Email : info@exhorbi.consult.co.za</li>
        {{!-- <li>Email : info@exhorbi.consult.co.za</li> --}}
        <li>Phone/WhatsApp : +2781 357 0195</li>
        {{!-- <li>Social : @101leander</li> --}}
      </ul>

    </div>

  </div>

  <div class="col-sm-3">
    <div class="card hovercard">
      <div class="avatar picture-contact">
        <img class="img" alt="" src="/img/eec_logo2.png" height="auto" width="200px">
      </div>
      <div class="info1">
        <div class="title">
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-12">

    <h1 style="font-size:28px;"><span class="heading">Send us a message</span></h1>

    <form action="/action_page.php">
      <input type="text" id="fullnames" name="fullnames" placeholder="Full Names..">

      <input type="text" id="lname" name="email" placeholder="Email..">

      <input type="text" id="lname" name="companyname" placeholder="Company Name..">

      <input type="text" id="lname" name="product" placeholder="Product..">

      <textarea id="subject" name="subject" placeholder="Enter your message.." style="height:200px"></textarea>

      <input type="submit" value="Submit">
    </form>
    <br>
  </div>
</div>