{{#if messages.info}}
<div class="message">
    {{messages.info}}
</div>
{{/if}}

<div class="row">

  <div class="col-sm-6">
    <h1 style="font-size:28px;"><span class="heading">Contact</span></h1>

    <div class="contact-details">

      <ul class="contact-us">
        <li>Email : dct@gmail.com</li>
        <li>Phone/WhatsApp : +27 81 704 9199</li>
        <li>Social : @101leander</li>
      </ul>

    </div>

  </div>

  <div class="col-sm-3">
    <div class="card hovercard">
      <div class="avatar picture-contact">
        <img alt="" src="/img/graphic-design/ODS_web.png" height="auto" width="200px">
      </div>
      <div class="info1">
        <div class="title">
        </div>
      </div>
    </div>
  </div>

</div>
