{{#if messages.info}}
<div class="message">
  {{messages.info}}
</div>
{{/if}}

<div class="row">

  <div class="col-sm-6">
    <h1 style="font-size:28px;"><span class="heading">Contact</span></h1>

    <div class="contact-details">

      <ul class="contact-us">
        <li>Email : info@exhorbi.consult.co.za</li>
        {{!-- <li>Email : info@exhorbi.consult.co.za</li> --}}
        <li>Phone/WhatsApp : +2781 357 0195</li>
        {{!-- <li>Social : @101leander</li> --}}
      </ul>

    </div>

  </div>

  <div class="col-sm-3">
    <div class="card hovercard">
      <div class="avatar picture-contact">
        <img class="img" alt="" src="/img/eec_logo2.png" height="auto" width="200px">
      </div>
      <div class="info1">
        <div class="title">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12 form-space">

    <h1 style="font-size:28px;"><span class="heading">Send us a message</span></h1>

    <form id="contact-form" method="POST" enctype="multipart/form-data" action="send">

      <input type="text" id="fullnames" name="fullnames" aria-describedby="emailHelp" placeholder="Full Names..">

      <input type="text" id="from-email" name="from_email" aria-describedby="emailHelp" placeholder="Email..">

      <input type="text" id="subject" name="subject" aria-describedby="emailHelp" placeholder="Subject..">

      <input type="text" id="companyname" name="companyname" aria-describedby="emailHelp" placeholder="Company Name..">

      <input type="text" id="product" name="product" aria-describedby="emailHelp" placeholder="Product..">

      <textarea id="message" name="message" placeholder="Enter your message.." style="height:200px"></textarea>

      <input type="submit" value="Submit">

    </form>

    <br>

  </div>
</div>