<div class="row">
  <div class="col-md-12">
    <h1 style="text-align:left; font-size:20px;"><span class="heading">Exhorbi Enterprise Consult</span></h1>
    <h4 style="text-align: left;" id='success'>{{messages.warning}}</h4>

    <div class="col-sm-6">
      <a href="#" class="thumbnail">
        <img src="/img/eec_logo2.png" alt="eec-pic">
      </a>
    </div>

    <div class="col-sm-6">
      <h3>Logged in as {{user.name}}</h3>
      <p>More Projects Comming Soon!</p>
    </div>

  </div>
</div>