<h1 style="text-align:left; font-size:20px;">
    <span class="heading">Media Relations</span>
</h1>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Facebook</li>
            <li class="list-group-item">Instagram</li>
            <li class="list-group-item">WhatsApp</li>
        </ul>
    </div>
</div>