<h1 style="text-align:left; font-size:20px;">
  <span class="heading">Projects</span>
</h1>

<div class="row">
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="/img/graphic-design/dctut_color_png.png" alt="project-pic">
    </a>
  </div>
  <div class="col-md-8">
    <h3 style="color: #6f6f6f;">Delft Connect Tutoring</h3>
    <ul class="subject-list">
      <li>New Website Coming Up!</li>
      <li>Launch Date : June 2018</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="/img/graphic-design/UB-One_png.png" alt="project-pic">
    </a>
  </div>
  <div class="col-md-8">
    <h3 style="color: #6f6f6f;">Unlimited Beauty - Make-Up Artist</h3>
    <ul class="subject-list">
      <li>Logo Design</li>
    </ul>
  </div>
</div>
