<h1 style="text-align:left; font-size:20px;">
  <span class="heading">Our Services</span>
</h1>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Establishment and Registration</li>
      <li class="list-group-item">Industrial Complience Admin</li>
      <li class="list-group-item">Document Drafting and Design</li>
      <li class="list-group-item">Cash Flow and Financial Complience</li>
      <li class="list-group-item">Contract and Complience Admin</li>
      <li class="list-group-item">organizational Design</li>
      <li class="list-group-item">Business and Project Implementation</li>
      <li class="list-group-item">ICT Plan and Implementation</li>

    </ul>
  </div>
</div>